@{
    double starCount = 2.5;

}




<section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">@ViewData["Username"] Adlı Kullanıcının Profili</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
        {
            <form method="post">
                <input type="text" asp-area="Blog" asp-route-ReviewID="@ViewData["id"]" style="visibility:hidden;" />
                <input asp-area="Blog" asp-route-Header="Delete" style="visibility:hidden" />
                <button type="submit" class="btn btn-danger" style=" float: right; margin-right:30%">Mekanı Sil</button>
            </form>
        }
        <div class="row">
            <div class="col-lg-8 ftco-animate" style="width:100%">
                <h2 class="mb-3">Foodly Restaurant</h2>
                <div style="font-size:15px;margin-top:-20px;margin-bottom:15px;padding-left:10px; font-family:'Trebuchet MS';"><b>Vegan mekanı</b></div>
                <div class="ftco-animate col-lg-8">
                    @*Stars*@
                    <div>
                        @{
                            var starcount = Convert.ToInt32(Math.Floor(starCount));


                            for (int i = 1; i <= starcount; i++)
                            {
                                <span class="golden fas fa-star"></span>
                            }
                            if (starcount < starCount)
                            {
                                <span class="golden fas fa-star-half-alt"></span>
                                for (int i = starcount + 2; i <= 5; i++)
                                {
                                    <span class="golden far fa-star"></span>
                                }
                            }
                            else
                            {
                                for (int i = starcount + 1; i <= 5; i++)
                                {
                                    <span class="golden far fa-star"></span>
                                }
                            }                          

                        }
                        @starCount
                        <span class="fas fa-phone-square-alt" style="float:right;"> +90 (555) 50 28</span>
                    </div>
                    @*/Stars*@
                    <div style="font-size:13px;">Bursa/Osmangazi</div>
                    <div style="font-size:13px;">Adresss</div>
                    
                    <div><a>WEB</a></div>

                    <br />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section testimony-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 text-center heading-section ftco-animate">
                <span class="subheading">Mekanın</span>
                <h2 class="mb-4">en yüksek puanlı değerlendirmeleri</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">
                    @*Foreach*@
                    <div class="item">
                        <div class="testimony-wrap text-center pb-5">
                            <div class="user-img mb-4" style="background-image: url(/images/person_1.jpg)">
                                <span class="quote d-flex align-items-center justify-content-center">
                                    <i class="icon-quote-left"></i>
                                </span>
                            </div>
                            <div class="text p-3">
                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <p class="name">Jason McClean</p>
                                <span class="position">Customer</span>
                            </div>
                        </div>
                    </div>
                    @*Foreach*@
                </div>
            </div>
        </div>
    </div>
</section>