@{
    ViewData["Title"] = "Değerlendirme yaz";
}
@model Review

<link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
<section class="hero-wrap hero-wrap-2" style="        background-image: url(/images/insta-2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Değerlendirme Yaz</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 ftco-animate makereservation p-4 px-md-5 pb-md-5 fadeInUp ftco-animated">
                <div class="heading-section ftco-animate mb-5 text-center fadeInUp ftco-animated">
                    <span class="subheading">Belirt</span>
                    <h2 class="mb-4">Fikirlerini</h2>
                </div>
                <form method="post" asp-action="Upload" enctype="multipart/form-data" onsubmit="return VerifyRating()">
                    <label class="bg-danger alert-danger text-white"> @ViewData["Error"] </label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <label>Bir resim Yükle | Başlığın altında görünecektir</label>
                                <input class="form-control" type="file" name="file" />

                            </div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <div class="form-group text-center">
                                <button id="sbmt-button" onclick="topFunction()" type="submit" class="btn btn-primary py-3 px-5" style="width:20%">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>