
@inject UserManager<UserIdentity> userManager
@if (signInManager.IsSignedIn(User))
{
    var u = await userManager.GetUserAsync(User);
    var id = u.Id;
    <li><a href="/Blogs/WriteBlog">DeğerlendirmeYaz</a></li>
    <li><a href="/user/profile/@id" title="Profilim">Profil</a></li>
    if (User.IsInRole("Admin"))
    {
        <li><a href="/Editor/" title="Editor Sayfası">Editor</a></li>
        <li><a href="/Administration/" title="Admin sayfası">Admin</a></li>
    }
    else if (User.IsInRole("Editor"))
    {
        <li><a href="/Editor/" title="Editor Sayfası">Editor</a></li>
    }

<li class="dropdown">
    <button href="#" class="dropdown-toggle btn" data-toggle="dropdown">Hesabım <b class="caret"></b></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">Hesabım</li>
        <li>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Profili Yönet">Yönet</a>
        </li>
        <li>
        <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button class="btn btn-fill" id="logout">Çıkış</button>
        </form>
            <li/>
    </ul>
</li>
   
}
else
{
    <li>
        <a id="login" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
    </li>
    <li>
        <a id="register" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol</a>
    </li>
}

