
@{
    ViewData["Title"] = "Editor";
    EFContext c = new EFContext();
    var restaurantList = c.Restaurants.Where(x => x.IsAccepted == false).ToList();
    var reviewList = c.Reviews.Where(x => x.IsDeleted == false && x.Publish == false).ToList();
    var menuList = c.Menus.Where(x => x.IsDeleted == false && x.IsPublished == false).ToList();

    var restaurantCount = restaurantList.Count;
    var reviewCount = reviewList.Count;
    var menuCount = menuList.Count;
}
<section class="hero-wrap hero-wrap-2" style="background-image: url(/images/bg_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Editör sayfası</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            @if (restaurantCount > 0)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="/Editor/restaurants" class="block-20" style="background-image: url(/images/insta-1.jpg);"></a>
                        <div class="text pt-3 pb-4 px-4">
                            <div class="meta">
                                <h6>Restoranlar</h6>
                            </div>
                            <h6>Onayını bekleyen @restaurantCount adet gönderi var</h6>
                            <p class="clearfix">
                                <a href="/Editor/restaurants" class="float-left read"><u>Restoranları Görüntüle</u></a>
                            </p>
                        </div>
                    </div>
                </div>
            }
            @if (reviewCount > 0)
            {
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        <a href="/Editor/blogs" class="block-20" style="background-image: url(/images/breakfast-4.jpg);"></a>
                        <div class="text pt-3 pb-4 px-4">
                            <div class="meta">
                                <div>Değerlendirmeler</div>
                            </div>
                            <h6>Onayını bekleyen @reviewCount adet gönderi var</h6>
                            <p class="clearfix">
                                <a href="/Editor/blogs" class="float-left read"><u>Değerlendirmeleri Görüntüle</u></a>
                            </p>
                        </div>
                    </div>
                </div>
            }
            @if (menuCount > 0)
            {
            <div class="col-md-4 ftco-animate">
                <div class="blog-entry">
                    <a href="/Editor/menus" class="block-20" style="background-image: url(/images/menu-1.jpg);"></a>
                    <div class="text pt-3 pb-4 px-4">
                        <div class="meta">
                            <div>Menüler</div>
                        </div>
                        <h6>Onayını bekleyen @menuCount adet gönderi var</h6>
                        <p class="clearfix">
                            <a href="/Editor/menus" class="float-left read"><u>Menüleri Görüntüle</u></a>
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>