@{
    ViewData["Title"] = "Değerlendirme yaz";
}
@model Review

<link rel="stylesheet" href="/richtexteditor/rte_theme_default.css" />
<script type="text/javascript" src="/richtexteditor/rte.js"></script>
<script type="text/javascript" src='/richtexteditor/plugins/all_plugins.js'></script>
<section class="hero-wrap hero-wrap-2" style="        background-image: url(/images/insta-2.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">Değerlendirme Yaz</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-12 ftco-animate makereservation p-4 px-md-5 pb-md-5 fadeInUp ftco-animated">
                <div class="heading-section ftco-animate mb-5 text-center fadeInUp ftco-animated">
                    <span class="subheading">Belirt</span>
                    <h2 class="mb-4">Fikirlerini</h2>
                </div>
                <form method="post" asp-controller="Blogs" asp-action="WriteBlog" enctype="application/x-www-form-urlencoded" onsubmit="return VerifyRating()">
                    <label class="bg-danger alert-danger text-white"> @ViewData["Error"] </label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Başlık</label>
                                <input type="text" class="form-control" asp-for="Header" placeholder="Başlık" style="margin-bottom:5px;" required />
                                <label>Ön bilgi</label>
                                <input class="form-control" asp-for="ShortCast" placeholder="Ön bilgi" style="margin-bottom:5px;" required />

                                <label>Yıldız (1 en düşük , 5 en yüksek)</label>
                                <div onmouseout="StarSelected()">
                                    <span id="star1" onmouseout="StarOut(1)" onmouseover="StarOver(1)" onclick="StarClick(1)" style="font-size:32px;" class="golden far fa-star"></span>
                                    <span id="star2" onmouseout="StarOut(2)" onmouseover="StarOver(2)" onclick="StarClick(2)" style="font-size:32px;" class="golden far fa-star"></span>
                                    <span id="star3" onmouseout="StarOut(3)" onmouseover="StarOver(3)" onclick="StarClick(3)" style="font-size:32px;" class="golden far fa-star"></span>
                                    <span id="star4" onmouseout="StarOut(4)" onmouseover="StarOver(4)" onclick="StarClick(4)" style="font-size:32px;" class="golden far fa-star"></span>
                                    <span id="star5" onmouseout="StarOut(5)" onmouseover="StarOver(5)" onclick="StarClick(5)" style="font-size:32px;" class="golden far fa-star"></span>
                                </div>
                                <label>Mekan adı(Örneğin; Foodly Restaurant)</label><br />
                                @*<input class="form-control" asp-for="RestaurantName" placeholder="Mekan adı" style="margin-bottom:5px;" required />*@
                                <select class="form-control" id="Restaurant" asp-for="RestaurantID">
                                    @{
                                        EFContext c = new EFContext();
                                        var list = c.Restaurants.Where(x => x.IsAccepted == false).ToList();
                                        foreach (var item in list)
                                        {
                                            <option value="@item.RestaurantID">@item.Name</option>
                                        }
                                    }
                                </select>Aradığın mekanı bulamadın mı ? <a asp-controller="Restaurant" asp-action="Create">Mekan kaydet</a><br />

                                <label>Fiyat (Para birimi belirtmeksizin)</label><br />
                                <input class="form-control" asp-for="Price" placeholder="Fiyat" style="margin-bottom:5px;" required />
                                <label>Bir resim Yükle | Başlığın altında görünecektir</label>
                                <input type="file" name="file" accept="image/x-png,image/gif,image/jpeg" required />
                                <div>
                                    <input type="hidden" id="lblRating" value="0" asp-for="Star" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Yorumunuz</label>
                                <input id="div_editor1" style="height:520px;" asp-for="Blog" required />
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="form-group text-center">
                                <button id="sbmt-button" onclick="topFunction()" type="submit" class="btn btn-primary py-3 px-5" style="width:20%">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $("#Restaurant").select2();
    var editor1cfg = {}
    editor1cfg.toolbar = "basic";
    var editor1 = new RichTextEditor("#div_editor1", editor1cfg);
</script>

<script>
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }

</script>

<script type="text/javascript">

    function StarOut(rating) {
        for (var i = 1; i <= rating; i++) {
            $('#star' + i).attr('class', 'golden far fa-star');
        }
    }

    function StarOver(rating) {
        for (var i = 1; i <= rating; i++) {
            $('#star' + i).attr('class', 'golden fas fa-star');
        }
    }

    function StarClick(rating) {
        $('#lblRating').val(rating);
        for (var i = 1; i <= rating; i++) {
            $('#star' + i).attr('class', 'golden fas fa-star');
        }

        for (var i = rating + 1; i <= 5; i++) {
            $('#star' + i).attr('class', 'golden far fa-star');
        }
    }

    function StarSelected() {
        var rating = $('#lblRating').val();
        for (var i = 1; i <= rating; i++) {
            $('#star' + i).attr('class', 'golden fas fa-star');
        }
    }
    function VerifyRating() {
        var rating = $('#lblRating').val();
        if (rating == "0") {
            alert("Lütfen yıldız puanı veriniz.");
            return false;
        }
    }
</script>
